{% extends 'layout.html' %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock csslink %}

{% block body %}
    <!-- Search button -->
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div class="search">
                <form action="" method="get" autocomplete="off">
                    <input type="search" name="search_button" id="search_button" placeholder="Search in Slamweb......">
                    <input id="search_submit_button" class="btn btn-outline-success" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <h3 style="color: black;">Received Slams :</h3>
            
            <div class="row">
                <div class="col-3 slam">
                    
                </div>
                <div class="col-3 slam">
                    
                </div>
                <div class="col-3 slam">
                    
                </div>
                <div class="col-3 slam">
                    
                </div>
            </div>


        </div>
    </div>
{% endblock body %}